body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif;
    background: #e7eef7;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #0d2347;
    height: 100vh;
    padding: 25px;
    color: white;
}

.logo {
    text-align: center;
}

.logo img {
    width: 55px;
}

.logo h2 {
    font-family: "Alegreya Sans";
    margin-top: 10px;
}

.sidebar ul {
    margin-top: 40px;
    padding: 0;
}

.sidebar li {
    list-style: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
    margin: 5px 0;
}

.sidebar li.active,
.sidebar li:hover {
    background: #1f3e70;
}

/* CONTENT */
.content {
    padding: 40px;
    width: 100%;
}

.title {
    font-family: "Alegreya Sans";
    font-size: 42px;
    margin-bottom: 5px;
    color: #0d2347;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 40px;
}

.section-title {
    font-family: "Alegreya Sans";
    font-size: 28px;
    margin-bottom: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card {
    background: white;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card h3 {
    font-family: "Alegreya Sans";
}

.price {
    color: green;
    font-weight: bold;
}

.card button {
    margin: 5px;
    padding: 8px 14px;
    border: none;
    background: #1f3e70;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #284f8a;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
}

.popup-content button {
    background: #1f3e70;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.finish {
    margin-top: 15px;
    font-weight: bold;
    color: green;
}
